#checkBox{
    -fx-background-image: url(../images/icons/sword.png);
    -fx-background-repeat: stretch;
    -fx-background-size: 75px,75px;
    -fx-background-position: center;

}

/*
#btn4{
    -fx-background-image: url(../images/javaDuke.png);
    -fx-background-repeat: stretch;
    -fx-background-position: center;

}
#btn5{
    -fx-background-image: url(../images/javaDuke.png);
    -fx-background-repeat: stretch;
    -fx-background-position: center;

}
#btn6{
    -fx-background-image: url(../images/javaDuke.png);
    -fx-background-repeat: stretch;
    -fx-background-position: center;

}
#btn7{
    -fx-background-image: url(../images/javaDuke.png);
    -fx-background-repeat: stretch;
    -fx-background-position: center;

}
#btn8{
    -fx-background-image: url(../images/javaDuke.png);
    -fx-background-repeat: stretch;
    -fx-background-position: center;

}#btn9{
     -fx-background-image: url(../images/javaDuke.png);
     -fx-background-repeat: stretch;
     -fx-background-position: center;

 }*/
